# PRACTICA 1

### Resuelve las siguientes preguntas empleando lo aprendido con las estructuras de Datos

Pon el código debajo de cada pregunta. Añade tantas celdas de código como necesites.

#### 1.- Escribe una ecuación que emplee multiplicación, división, un exponente, suma y resta y que sea igual a 100.25. (0,25 ptos)

In [3]:
resultado = (20 * 5) + (10 / 4) - (2 ** 2) + 1.75
print("El resultado es:", resultado)

El resultado es: 100.25

#### 2.- ¿Qué harías para obtener la raíz cuadrada de 100? Busca dos formas. (0,5 ptos)

In [5]:
raiz1 = 100 ** 0.5
print("Raíz cuadrada con **:", raiz1)

Raíz cuadrada con **: 10.0

In [11]:
import math
raiz2 = math.sqrt(100)
print("Raíz cuadrada con math.sqrt:", raiz2)

Raíz cuadrada con math.sqrt: 10.0

#### 3.- ¿Y el cuadrado de 100? (0,25 ptos)

In [13]:
cuadrado1 = 100 ** 2
print("Cuadrado con **:", cuadrado1)

Cuadrado con **: 10000

#### 4.- Tenemos la string 'hello'. (0,5 ptos)
#### Primero devuelve la letra 'e'
#### Luego dale la vuelta a la string 
#### Después usa dos métodos para devolver la letra 'o'

In [ ]:
s = 'hello'

In [15]:
palabra = "hello"
print(palabra[1])

e

In [19]:
print(palabra[::-1])

olleh

In [21]:
print(palabra[4])

o

In [23]:
print(palabra[-1])

o

#### 5.- Crear una lista que contenga esto [0,0,0] de dos formas distintas (0,5 ptos)

In [25]:
lista1= [0, 0, 0]
print(lista1)

[0, 0, 0]

In [29]:
lista2 6.- [0] * 3
print(lista2)

[0, 0, 0]

#### 6.- Reasigna 'hello' en la lista a continuación para que diga 'goodbye' (1 pto)

In [37]:
lista = [1,2,[3,4, 'hello']]

In [39]:
lista[2]
lista[2][2] = 'goodbye'
print(lista)

[1, 2, [3, 4, 'goodbye']]

#### 7.- Ordena la siguiente lista (0,5 ptos)

In [ ]:
listaSinOrdenar = [5,3,4,6,1]

In [41]:
listaSinOrdenar = [5, 3, 4, 6, 1]
listaOrdenada = sorted(listaSinOrdenar)
print(listaOrdenada)

[1, 3, 4, 5, 6]

#### 8.- En los siguientes diccionarios, extrae el valor de 'hello (2 ptos)

In [86]:
f = {'k1 >{'k2' > 'hello'}}

SyntaxError: unterminated string literal (detected at line 1) (2055391238.py, line 1)

In [94]:
f = {'k1': {'k2': 'hello'}}
print(f['k1']['k2'])

hello

In [63]:
d = {'key1':'hello'}

SyntaxError: incomplete input (87208365.py, line 2)

In [92]:
d = {'key1': 'hello'}
print(d['key1'])

hello

In [ ]:
g = {'k1':[{'o1':['valor escondido',['hello']]}]}

In [88]:
g = {'k1': [{'o1': ['valor escondido', ['hello']]}]}
print(g['k1'][0]['o1'][1][0])

hello

In [ ]:
h = {'k1':[1,2,{'k2':['complicado',{'dificil':[1,2,['hello']]}]}]}

In [90]:
h = {'k1': [1, 2, {'k2': ['complicado', {'dificil': [1, 2, ['hello']]}]}]}
print(h['k1'][2]['k2'][1]['dificil'][2][0])

hello

#### 9.- Crea una tupla (1 pto)

In [47]:
mi_tupla = (1, 2, 3, 4)
print(mi_tupla)

(1, 2, 3, 4)

In [49]:
tupla_un_elemento = (5,)
print(tupla_un_elemento)

(5,)

#### 10.- Emplea los sets para encontrar los valores únicos de esta lista (0,5 ptos)

In [ ]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]

In [51]:
listaDuplicada = [1, 2, 2, 33, 4, 4, 11, 22, 3, 3, 2]
valores_unicos = set(listaDuplicada)
print(valores_unicos)

{1, 2, 33, 4, 3, 11, 22}

In [53]:
valores_unicos_ordenados = sorted(list(valores_unicos))
print(valores_unicos_ordenados)

[1, 2, 3, 4, 11, 22, 33]

#### 11.- Haz las siguientes comparaciones: (0,5 ptos)
#### Dos mayor que tres
#### Tres igual que 2
#### La raíz cuadrada de cuatro no es igual a 2
#### Se cumple si 6 es mayor que 5 y 7 menor de 8
#### Se cumple si la longitud de _nombre_ es  que el número de elementos de _colores_ o si la longitud de _nombre_ es menor de 7.

In [ ]:
# 2 mayor que 3

In [55]:
resultado1 = 2 > 3
print(resultado1)

False

In [ ]:
# 3 igual que 2

In [57]:
resultado2 = 3 == 2
print(resultado2)

False

In [ ]:
# raíz cuadrada de 4 no es igual a 2

In [59]:
import math
resultado3 = math.sqrt(4) != 2
print(resultado3)

False

In [72]:
nombre = "Pepito"
colores = ["azul","rojo","verde","lila","amarillo limón"]

In [74]:
len(nombre) == len (colores) or len(nombre) < 7

True

In [ ]:
Se cumple si 6 es mayor que 5 y 7 menor de 8

In [76]:
resultado4 = 6 > 5 and 7 < 8
print(resultado4)

True

#### 12.- Crea un archivo mediante código que se llame _tabla-nombres.txt_ y que esté formado por 4 columnas y 4 filas con la siguiente formación (1,5 ptos):
#### Primera columna: Nombre
#### Segunda columna: Apellidos (2 apellidos)
#### Tercera columna: Edad
#### Cuarta columna: Mascotas (nombre de la mascota si tienen)

#### ¿Qué pasa si abres el archivo desde Jupyter y has metido acentos? ¿Puedes solucionarlo?

In [107]:
with open("tabla-nombres.txt", "w", encoding="utf-8") as f:
    f.write("Nombre\tApellidos\t\tEdad\tMascotas\n")
    f.write("Aurea\tAlvarez Alvarez\t21\t1\n")
    f.write("José\tOtero Mediero\t\t21\t-\n")
    f.write("Antonio\tHermosilla Motales\t21\t-\n")
    f.write("Sofia\tGarcia Gomez\t\t21\t-\n")
with open("tabla-nombres.txt", "r", encoding="utf-8") as f:
    contenido = f.read()
    print(contenido)

Nombre	Apellidos		Edad	Mascotas
Aurea	Alvarez Alvarez	21	1
José	Otero Mediero		21	-
Antonio	Hermosilla Motales	21	-
Sofia	Garcia Gomez		21	-

#### 13.- Crea un diccionario que contenga las siguientes parejas. Obtén el listado de keys() y guárdalo en una lista. Añade un par de elementos más y después convierte esa lista en un set (1 pto).

#### Rattus = novergicus, rattus
#### Glaucidium = brasilianum, hoskinsii, californicum, minutissimum
#### Echinocactus = grusonii
#### Opuntia = 1

In [84]:
diccionario = {
    "Rattus": ["noverginicus", "rattus"],
    "Glaucidium": ["brasilianum", "hoskinsii", "californicum", "minutissimum"],
    "Echinocactus": ["grusonii"],
    "Opuntia": [1]
}
lista = list(diccionario.keys())
print(lista)
diccionario["Canis"] = ["latrans", "aureus"]
diccionario["Panthera"] = ["leo"]
print(diccionario.keys())
setclaves = set(lista + ["Canis", "Panthera"])
print(setclaves)

['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia']
dict_keys(['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia', 'Canis', 'Panthera'])
{'Glaucidium', 'Opuntia', 'Echinocactus', 'Canis', 'Panthera', 'Rattus'}